<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
    
    <!-- css -->
    <link rel="stylesheet" th:href="@{/css/member/register.css}">
</head>

<body>
    <div id="wrap">
        <main>
            <div>
                <form action="" method="post">
                    <table border="1">
                        <tr>
                            <th>아이디</th>
                            <td><input type="text" placeholder="아이디"></td>
                        </tr>
                        <tr>
                            <th>비밀번호</th>
                            <td><input type="password" placeholder="비밀번호"></td>
                        </tr>
                        <tr>
                        	<th>이름</th>
                        	<td><input type="text" placeholder="닉네임"></td>
                        </tr>
                        <tr>
                        	<th>이메일</th>
                        	<td>
                        		<button type="button">인증번호 발송</button>
                        		<input type="text" placeholder="이메일">
                        		<input type="text" placeholder="인증번호 입력">
                       		</td>
                        </tr>
                        <tr>
                            <th>주소</th>
                            <td>
                                <button type="button">우편번호 찾기</button>
                                <input type="text" placeholder="우편번호">
                                <input type="text" placeholder="주소1">
                                <input type="text" placeholder="주소2">
                            </td>
                        </tr>
                        <a th:href="@{/}">처음으로</a>
                    </table>
                </form>
            </div>
        </main>
    </div>
</body>

</html>