#wrap {
	margin: 50px;
}

#wrap>main>div>form>table {
	width: 400px;
}

#wrap>main>div>form>table>tbody>tr {
	
}

#wrap>main>div>form>table>tbody>tr>th {
	width: 100px;
}

#wrap>main>div>form>table>tbody>tr>td {
	height: 50px;
}

#wrap>main>div>form>table>tbody>tr>td>input {
	margin: 5px 5px 5px 10px;
	padding: 8px;
	width: 250px;
}

.btn-login {
	padding: 8px;
	margin: 5px 5px 5px 5px;
}

.btn-register{
	padding: 8px;
	margin: 5px 5px 5px 5px;
}